
<form id="item_update_form" method='post' class="form" role="form" action="{% url url %}">
    {% csrf_token %}
    {{form.errors}}
<div class="modal-header" style="">
    {{ operation_type }} {{ model_name }}
</div>
<div class="modal-body">
    {{ form.as_p }}
</div>
<div class="modal-footer"> 
    <input type="submit" class="btn btn-primary" value="{{ operation_type }}" style="margin-bottom: 5px;" />
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />   
</div>


</form>
<script>
{% comment %} 
$('#modal').on('shown.bs.modal', function () {
    console.log("encontrei ");
  
}); {% endcomment %}

var form_options = {
    target: '#modal',
    success: function() {  }
};
$('#item_update_form').ajaxForm(form_options);

</script>

